# Ignorar archivos de construcción de Maven
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# Archivos de STS
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# Archivos de IntelliJ IDEA
.idea
*.iws
*.iml
*.ipr

# Archivos de NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

# Archivos de VS Code
.vscode/

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Logs
*.log
