name: "CD #4 - Web de Documentacion Tecnica (Javadoc)"

# Se activa en push a main
on:
  push:
    branches:
      - main
      - fix3-ci-workflows

# Permisos necesarios para desplegar en GitHub Pages
permissions:
  contents: write

jobs:
  javadoc:
    runs-on: ubuntu-latest

    steps:
      - name: Descargar codigo fuente
        uses: actions/checkout@v4

      - name: Configurar JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: "temurin"
          java-version: "21"

      - name: Generar Javadoc
        run: mvn javadoc:javadoc

      - name: Desplegar Javadoc en GitHub Pages
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: target/site/apidocs
          branch: gh-pages
