name: "CI #7 - Test Multiplataforma"

# Se activa en cada push a cualquier rama
on:
  push:

jobs:
  compilar-y-test:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]

    steps:
      - name: Descargar codigo fuente
        uses: actions/checkout@v4

      - name: Configurar JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'

      - name: Compilar y ejecutar tests
        run: mvn -B clean test

# Triggered for fix9
